[Unit]
Description=Nginx Exporter

[Service]
User={{ nginx_exporter_user }}
Group={{ nginx_exporter_user }}
EnvironmentFile=-/etc/default/nginx_exporter
ExecStart=/usr/local/bin/nginx_exporter -nginx.scrape-uri=http://localhost:{{ nginx_exporter_stub_port }}/{{ nginx_exporter_stub_path }}

SyslogIdentifier=nginx_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target